<%= form_with(model: @course, local: true) do |f| %>


  <div class="control-form">
    <%= f.text_field :title, label: 'Titre:', class: "form-control", placeholder:"Le titre de la léçcon ..." %>
  </div>
  <div class="control-form my-1">
    <%= f.rich_text_area :content, label: 'Contenu:', class: "form-control customized-min-height", placeholder: "Saissir le contenu ..." %>
  </div>

    <div class="row my-2">
      <div class="col-5  col-md-3 col-lg-3">
        <div class="input-form">
          <span class="select">
            <%= f.select :material_id,
              @materials.map { |m| [m.title, m.id] },
              placeholder:"la matiere",
               hide_label: true, class:"form-control" %>

          </span>
        </div>
      </div>
      <div class="col-5 col-md-3 col-lg-3">
        <div class="input-form">
          <span class="select">
            <%= f.select :level_id,
              @levels.map { |l| [l.title, l.id] },
              placeholder:"Niveau",
               hide_label: true %>
          </span>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Créer la léçcon",  class: "btn btn-primary" %>
    </div>
<% end %>
