<%= form_with(model: material, local: true,  html: { multipart: true }) do |f| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
        <% material.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= f.text_field :title, placeholder:"Title Material:" %>
  </div>

    <%= f.label "Setting Of Materials" %> <br />
  <div class="flex">
    <%= f.collection_check_boxes :level_ids, @level.all, :id, :title do |l| %>
      <div class="collection-check-box flex">
        <div class="items-center">
          <%= l.check_box %>
          <%= l.label class: "mr-2" %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Add Material", class:"btn btn-primary"%>
  </div>
<% end %>
