
<div class="col-8">
  <% @exercices.each do |exercice| %>
    <div class="container">
      <span class="">
        <%= exercice.title %>
      </span>
      <span class="">
        <%= exercice.content %>
      </span>
      <span class="">
        <%= exercice.author %>
      </span>
      <span class="">
        <%= exercice.search_id %>
      </span>
      <span class="">
        <%= exercice.user_id %>
      </span>
      <span class="bg-red-600">
      course referral:
        <%= exercice.course.level_id %>
      </span>

    </div>
  <% end %>
</div>
